@keyframes animate {
  0% {
    transform: scale(0);
    visibility:visible;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);

  }
}


/*BACKGROUND ANIMATION*/

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 150px 150px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 150px 150px;
  }
}


